# Build results

[Bb]in/
[Oo]bj/

# Visual Studio
*.VC.db
*.suo
*.user
.vs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdf
*.svg
